{% extends 'ecommerce/base.html' %}

{% block content %}
<h2 class="text-center mb-5">{% if order.id %}Edit order{% else %}Create new order{% endif %}</h2>
    <div class="row text-end mx-md-auto my-form-medium">

        {% if order %}
        <form action="{% url 'ecommerce:order_edit' order_id=order.id %}" method="POST" class="order-form">
            <div class="mb-3 row">
                <label for="order_number" class="col-sm-2 col-form-label">Order #</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="order_number" value="{{ order.id }}">
                </div>
            </div>
        {% else %}
        <form action="{% url 'ecommerce:order_new' %}" method="POST" class="task-form">
        {% endif %}
    
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="customer" class="col-sm-2 col-form-label">Customer</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="customer" name="customer_name"
                    value="{{ order.customer_name }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="quantity" name="quantity" value="{{ order.quantity }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="productName" class="col-sm-2 col-form-label">Product</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productName" name="product_name"
                    value="{{ order.product_name }}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="orderDate" class="col-sm-2 col-form-label">Order date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="orderDate" name="order_date"
                    value="{{ order.order_date|date:'Y-m-d' }}">
            </div>
        </div>

        <div class="container d-flex gap-2 justify-content-around gap-2">
            <button type="submit" class="save btn btn-success">Save</button>
            </form>
    
            <!-- cancel button -->
            <form action="{% url 'ecommerce:order_list' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>

{% endblock content %}